.main{
    position:absolute;
    width: 100%;
    height: 100%;
    /* background: rgb(0, 255, 34); */

}
.addinput{
    height:20%;
    width: 69%;
    /* background: red; */
    align-items: center;
    display:flex;
    /* text-align: center; */
    font-size:30px;
    padding-left: 100px;
   
}
.addinput input{

    font-size:30px;
    align-items: center;
    display:flex;
    /* text-align: center;  */
}
.addinput2{
    height:20%;
    width: 69%;
    /* background: red; */
    align-items: center;
    display:flex;
    /* text-align: center; */
    font-size:30px;
    padding-left: 100px;
   
}
.addinput2 input{

    font-size:30px;
    align-items: center;
    display:flex;
    /* text-align: center;  */
}
.queding{
    height:20%;
    width:69%;
    /* background: rgb(0, 110, 255); */
    align-items: center;
    display:flex;
    text-align: center;
    padding-left: 300px;

}
.queding button{

font-size:30px;
}